@use "styling/colors";
@use "styling/projectstyling";

* {
  background-color: colors.$cream;
  box-sizing: border-box;
  transition-duration: 0.3s;
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

::-moz-selection {
  color: colors.$cream;
  background: colors.$lightPickleGreen;
}

::selection {
  color: colors.$cream;
  background: colors.$lightPickleGreen;
}

img {
  width: 5em;
  height: 5em;
}

h1, h2, h3 {
  font-family: "Amiri", serif;
  color: colors.$pickleGreen;
}

h1 {
  font-size: 1.953rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1rem;
}

nav {
  background-color: colors.$cream2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7em;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 0 1em;

  div {
    height: 100%;
    background-color: transparent;
    max-width: 1500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  span {
    color: colors.$pickleGreen;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.25em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    font-family: 'Charmonman', cursive;
  }
}

.homepage--body {
  max-width: 1500px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  padding: 0 1em;
  padding-top: 15em;

  p {
    font-size: 1.25em;
    margin-bottom: 2em;
  }

  .img-container {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    background-image: url("./assets/profile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 45%;
    margin-bottom: 1em;
  }
}

.tools-and-stack {
  max-width: 1500px;
  margin: auto;
  padding: 4em 1em;

  .tools-and-stack--container {
    max-width: 1500px;
    margin: auto;
    padding-top: 2em;

    h2 {
      margin-bottom: 1em;
    }
  }
}

.stack-list {
  h3 {
    display: flex;
    align-items: center;
    font-family: "Jost", sans-serif;
    font-size: 1em;

    &:after {
      content: '';
      flex: 1;
      margin-left: 1rem;
      height: 1px;
      background-color: colors.$gray;
    }
  }

  .icon--container {
    margin: 1em 0;

    img {
      max-height: 3em;
      max-width: 3em;
      margin-right: 0.25em;
    }
  }
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.recent-works {
  padding: 1em;
  max-width: 1500px;
  margin: auto;

  h2 {
    margin-bottom: 1em;
  }
}

.project {
  border: 1px solid colors.$gray;
  max-width: 700px;
  flex-grow: 1;
  margin-bottom: 2em;
  margin-right: 1em;

  &:hover {
    border: 1px solid colors.$darkGray;
  }

  .project-display {
    cursor: pointer;
    height: 20em;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    padding-bottom: 1em;
    padding-left: 0.5em;
  }

  .project-background {
    padding: 0.5em;
    background-color: white;
    opacity: 0;
  }

  .project-actions {
    display: none;
  }

  .project-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1em;

    p {
      padding-bottom: 1em;
    }

    h3 {
      background-color: inherit;
    }

    span {
      em {
        font-size: 0.85em;
      }
      margin-bottom: 1em;
    }
  }

  .project-stack {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 1em;

    span {
      font-size: 0.75em;
      color:  colors.$pickleGreen;
      background-color: colors.$gray;
      padding: 0.5em;
      margin-right: 0.5em;
      margin-bottom: 0.5em;
      border-radius: 3em;
    }
  }
}

.project-actions-visible {
  padding-bottom: 1em;
}

.primary-btn {
  background-color: colors.$pickleGreen;
  border: none;
  color: white;
  font-size: 0.85em;
  padding: 0.5em 1em;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background-color: colors.$lightPickleGreen;
  }
}

.secondary-btn {
  @extend .primary-btn;

  background-color: colors.$darkGray;

  &:hover {
    background-color: colors.$lightPickleGreen;
  }
}

.text-btn {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 0.85em;
  border-bottom: 1px solid transparent;

  &:hover {
      border-bottom: 1px solid colors.$pickleGreen;
  }

}

footer {
  max-width: 1500px;
  margin: auto;
  padding: 1em;
  height: auto;

  .footer-icon-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1.25em;
    padding-bottom: 5em;
    border-bottom: 1px solid colors.$gray;
  }


  .footer-icon {
    cursor: pointer;
    background-color: colors.$lightPickleGreen;
    height: 2em;
    width: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 1em;

    &:hover {
      background-color: #8fb16d;
    }

    img {
      max-width: 1em;
      max-height: auto;
      height: auto;
      background-color: transparent;
    }
  }

  span {
    font-family: 'Charmonman', cursive;
  }
}

.footer-credits {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2em;

  .footer-copyright {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    span, img {
      margin-right: 0.5em;
    }

    p {
      display: block;
      font-size: 0.85em;
    }
    
    img {
      max-width: 0.85em;
      max-height: 0.85em;
      height: auto;
    }
  }
}

.anchor {
  text-decoration: none;
  color: #666666;
}

.text-link {
  font-size: inherit;
  text-decoration: none;
  border-bottom: 1px solid colors.$pickleGreen;
  color: colors.$pickleGreen;

  &:hover {
    border-bottom: 1px solid colors.$pickleGreen;
    transition-duration: 0.3s;
    color: colors.$lightPickleGreen;
  }
}

.email {
  span {
    font-family: 'Times New Roman', Times, serif
  }
}